{% extends "base.html" %}

{% block title %} Create User {% endblock %}

{% block content %}
<h1>Create a User</h1>
<form class="form-container" action="/users/new" method="post">
    <label for="firstname"> Firstname
        <input type="text" name="firstname" placeholder="Enter a first name" required>
    </label>
    <label for="lastname">Lastname
        <input type="text" name="lastname" placeholder="Enter a last name" required>
    </label>
    <label for="url">Image URL</label>
        <input type="url" name="url" placeholder="Enter an image for this user">
    </label>
    <input type="submit" value="Add">
</form>
{% endblock %}